body{
	background-color:#ffb3b3;
	font-family: sans-serif;
}

h1{
    animation-name:mudacor;
    amimation-duration: 5s;
    color: red;
}

@keyframes mudacor {
    from {color:red;}
    to {color:yellow;}
}

#cabecalho{
    border: black 1px solid;
    border-radius: 10px;
    padding-left:50px;
    margin-bottom:50px;
    box-shadow:black 2px 2px 5px;
}
#conteudo{
    background-color:white;
    margin-left:5%;
    maragin-right:5%
    padding: 2%

}

a{
    fonte-family:licida-sans;
    color:blue;
    text-decoration: unset;
}

#navbar{
    display:flex;
    justify-content:space-between;
    margin-bottom:30px;
}

#imgLoja{
    width:100%
}

#titulosDestaque{
    display: flex;
    justify-content:center;
    text-shadow:grey 1px 1px 5px
}

#produtos{
    display: flex;
    justify-content:space-between;
}
.produtosDestaques{
    border: gray 1px solid;
    margin-left:10px;
    margin-right:10px;
    box-shadow: gray 2px 2px 3px;
}

.imgDestaque{
    width=50%;
    margin-left:30%;
    margin-bottom:10px;
}
h3{
    text-align: center;
    font-size:20px
}

.descDestaque{
    font-family:Arial;
    margin-left: 5px;
    margin-right: 5px;
    text-aling: justify;
}

#rodape{
    background-color:#e60000;
    margin-top: 30px ;
    display:flex;
    justify-content:space-between
}

#redesSociais{
    margin-left:20px;
    margin-top: 20px;
    color:white;
    font-family: segoe:
    peddim-bottom:50px
}

.rede{
    margin-top: 50px;
    margin-bottom: 5px;

}

#email{
    margin-right:50px;
}

#receba{
    color: white;
}

#input{
    width= 100%
    height=40px;
    margin-bottom: 10px;
}

button{
    background-color:rgb(80,80,250);
    widht: 100px;
    height: 60px;
    border:rgb(80,80,250) ;1px solid;
    color:white;
    font-size:20px;
    box-shadow: blue 2px 2px 5px;

}